PORT=5000
NODE_ENV=development
DB_HOST=mysql-pfe-hajar123star-bf6c.j.aivencloud.com
DB_PORT=10368
DB_USER=avnadmin
DB_PASSWORD=AVNS__-FG70WbeTI22drPhBi
DB_NAME=defaultdb
JWT_SECRET=votre_cle_super_secrete_123
JWT_EXPIRE=7d